node_modules/

# Ignore virtual environment
venv/
.env
*.env.development
*.env.production
/logic-gates-app/.env.development

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore IDE settings (e.g., VSCode, PyCharm)
.vscode/
.idea/

# Ignore Maven & Gradle build files ( Java springboot )
target/
build/
.gradle/
*.jar
*.war
*.class
*.log


#ignore firebase files
.firebase/
firebase.json
apphosting.yaml
*.firebase
.firebaserc

