node_modules/

# Ignore virtual environment
venv/

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore IDE settings (e.g., VSCode, PyCharm)
.vscode/
.idea/

# Ignore Maven & Gradle build files ( Java springboot )
target/
build/
.gradle/
.mvn/
*.jar
*.war
*.class
*.log
